@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  overflow: hidden;
  height: 100vh;
  font-family: "VT323", sans-serif;
}

.bar {
  color: black;
  padding: 16px;
}

.health {
  padding: 16px;
}

.gameBoy {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 420px;
  background: #f8d26d;
  border-radius: 10px;
  margin: 0 auto;
  height: 687px;
  padding-left: 6px;
  padding-right: 7px;
}
.gameBoy__screenBox {
  width: 100%;
  background: #cdedfc;
  border: 10px solid #dfa46d;
  box-shadow: inset 0px 0px 0px 10px #e7f6fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 25px;
}

.screen__characterLifeParamBox {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: space-between;
  padding-bottom: 26px;
  width: 100%;
}

.screen__characterLifeParam {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.15em;
  color: #724d50;
}

.screen__character {
  border: 7px solid #9fdcf9;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 77px;
  padding-bottom: 65px;
}

.screen__characterState {
  font-size: 56px;
  line-height: 56px;
  text-align: center;
  color: #724d50;
  background-color: #e7f6fd;
  width: 100%;
  margin-top: 16px;
  /*   transform: rotate(180deg); */
}

.gameBoy__buttonBox {
  display: flex;
  gap: 40.82px;
  justify-content: space-between;
}

.gameBoy__button {
  width: 68.18px;
  height: 68.06px;
  border-radius: 50%;
  border: 5px solid #dfa46d;
  box-shadow: 0px 7px 0px #724d50;
  background: #f8d26d;
  margin-top: 24px;
  margin-bottom: 47.94px;
  display: flex;
  align-items: center;
  justify-content: center;
}
